body{
padding: 0;
margin: 0;
}
header{

  background-color: #ff0900;
  display: flex;
  align-items:center;
  justify-content: center;
  height: 55px;
  color: aliceblue;
  font-size: 7px;
  gap: 5px;
}
header> img{
  font-size: 0.9rem;
  width: 24px;
}
header> h1{
  font-family: 'Intel',sans-serif;
  font-weight: 500;
}
article.journal-entry{
  display: flex;
}
article.journal-entry .market{
  width: 7px;
  margin-right:4px ;
}
article.journal-entry .main-image-container{
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;  flex-shrink: 0;
  margin-right: 19px;

}
.main-image{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
/* /* *{
  box-sizing: border-box;
}
body{
  margin:0px;
  font-family: 'intel', sans-serif;
  color: white;
    background-color: #282D35;

}
header{
   height: 90px;
   background-color: #21222A; 
   padding: 30px 25px ;
}
nav{
 display: flex;
 align-items: center;
 height: 100%;

}
nav> img{
   width: 40px;
   margin-right:7px ;
}
nav >span{
  color: #04baf1;
  font-size: 1.4rem;
  font-weight: 700;
}
main{
  padding: 60px 30px;
  color: white;
  flex: 1;
    background-image:url(./image/image.png);
     background-size:50% 100%; 
    background-position: right 50%;
    background-repeat: no-repeat;


}
main> h1{
  margin: 0px;
    font-size: 2.4rem;

}
.facts-list{
  margin-top: 46px;
  max-width : 400px;
}
.facts-list> li{
  padding-block: 10px;
}
.facts-list> li::marker {
  color: #04baf1;
  font-size: 1.5rem;
} */ 

/* *{
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color:#27292c;
  color: white;
  margin: 0px;
  padding: 0px;
}
h1{
   margin-top: 30px;
}
.nav-list{
  list-style: none;
  display: flex;
}

 .header{
  margin: 0px;
  display: flex;
  align-items: center;
   justify-content: space-between;

}
.nav-list-item{
  margin-right: 10px;
  font-size: 1.1rem;
}
.logo{
  width:55px;
  height: auto;}
  .container {
  width: 100%;
  max-width: 600px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1;
  padding: 40px 30px;
  

}

.footer {
  background-color: #1a1c20; /* Matches navbar */
  /* padding: 20px 25px;
  color: #a0a0a0;
} */  